html {
  padding: 1rem;
}

header {
  text-align: center;
  font-family: sans-serif;
  /*background-image: url(); --- add in background image?*/
  background-color: white;
}

ul {
  list-style-type: none;
}

body {
  padding: 2.5em;
  background-color: #e6ffff;
  font-family: serif;
}

main {
  font-family: 'Lato', sans-serif;
  margin: auto;
  width: 80%;
}

address {
  display: inline-block;
}

hr {
  margin: 1em;
  width: 80%;
  padding: .25rem .5rem;
}
