.main-nav {
  /*align entire div in center! and add color*/
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#links {
/*style the links <p> tag */
}

.nav-menu {
  background-color: transparent;
  margin: 0;
  padding: 20px 4px;
  text-align: center;
}
/*throw changes here*/
@media only screen and (min-width: 400px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  #filters select {
    width: 15em;
    margin: .2em .2em;
  }

  #filters li {
    width: 20em;
    display: inline;
  }
}
